<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>История событий</title>
</head>
<body>
<h1>История съеденного</h1>
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
</body>
</html>